[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.news-line{
    background-color: #324659;
    color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
    font-weight: 200;
    border: 1px solid #FC7021;
    display: flex;
    flex-direction: column;
    min-height: 70px;
}

.news-line .title{
  font-weight: bold;
}

.id-container {
    width: 35px;
    min-height: 100%;
    max-height: 35px;
    min-width: 35px;
    background-color: #FC7021;
    color: #324659;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.story-container {
    padding: 5px;
}

.info {
    font-weight: 200;
}

.comment-info:hover {
  text-decoration: underline;
  cursor: pointer;
}

.close-comments:hover {
  text-decoration: underline;
  cursor: pointer;
}

.close-comments {
  font-size: 10pt;
  justify-content: center;
  display: flex;
}