<div class="news-line"> 
  <div class="id-container">
    {{story.index}}
  </div>
  <div class="story-container">
    <div class="title">
      <a [href]="story.url" target="_blank">
        {{story.title}}
      </a>
    </div>
    <div class="info">{{story.score}} points | <span class="comment-info" (click)="showComments = !showComments"> {{story.descendants}} comments</span> | @{{story.by}}</div>
  </div>
  <div *ngIf="showComments">
    <div  class="close-comments" (click)="showComments = !showComments">Close comments</div>
    <comment *ngFor="let id of comments" [id]="id"></comment>
  </div>
</div>