.comment-line{
    margin-top: 3px;
    margin-left: 15px;
    padding-bottom: 15px;
    background-color: rgba(10,10,10,0.3);
}

.comment-text{
    padding: 10px;
    font-size: 14px;
    color: rgba(250,250,220,0.7);
}

.comment-info {
    padding-left: 10px;
    padding-bottom: 5px;
}

.comment-info:hover {
  text-decoration: underline;
  cursor: pointer;
}